<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nogometPI.Properties.Settings.sql25907ConnectionString"
            connectionString="server=sql2.freesqldatabase.com;User Id=sql25907;password=kY9!tP6%;Persist Security Info=True;database=sql25907"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>